<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav>
      <ul class='navbar'>
          <li><a href = "/">HOME PAGE</a></li>
        <li><a href="/flights">ALL FLIGHTS</a></li>
        <li><a href="/flights/new">ADD FLIGHT</a></li>
      </ul>
    </nav>

    <%= body %>

  </body>
</html>