
body {
  font-family:Arial;
}
/*-----------Style the nav bar  -------------------------*/

nav {
  background-color:navy;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  background-color: navy;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: grey;
  color: white;
}
/*-----------Style table for all flights ------------------*/
.flight-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.flight-table th, .flight-table td {
  border: 1px solid grey;
  padding: 8px;
  text-align: left;
}

.flight-table th {
  background-color: #f2f2f2;
}

.flight-table a {
  color: #3498db;
  font-weight: bold;
}
/*-----------Style table for sub docs (destinations)--------*/
.flight-details {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
}

.destinations-list {
  list-style: none;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.destinations-list li {
  margin-bottom: 10px;
}

.add-destination-link {
  display: inline-block;
  padding: 8px 12px;
  background-color: navy;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add-destination-link:hover {
  background-color: grey;
}