
body {
  font-family:Arial;
}
/*-----------Style the nav bar  ------------------*/

nav {
  background-color:navy;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  background-color: navy;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: grey;
  color: white;
}
/*-----------Style table for all flights ------------------*/
.flight-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.flight-table th, .flight-table td {
  border: 1px solid grey;
  padding: 8px;
  text-align: left;
}

.flight-table th {
  background-color: #f2f2f2;
}

.flight-table a {
  color: #3498db;
  font-weight: bold;
}